x{border:solid 1px red}


.bakgrund {
  background-image: url('tulips.jpeg'); 
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px; 
  height: 500px;
}

.bakgrund {
  background-image: 
  
      linear-gradient(to top, rgba(255, 255, 255, 0.5), transparent),
      url('tulips.jpeg'); /* Din bakgrundsbild */
  
  background-position: center;
  background-repeat: no-repeat;
}

.center{
  text-align: center;
}

.logo{
width: 100px;
height: auto;
}

h1 {
  color:black; 
  padding: 10px; 
  border-radius: 10px; 
  font-size: 50px;
  font-family: 'Cinzel Decorative', serif;

}

h2{
  color:black;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Cinzel Decorative', serif;
}

section{
  color:black;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-width: 650px; /* Sätter en maxbredd för texten */
  margin: auto; 

  
  }

  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }



/* dehär är för meny*/

ul {
  list-style-type: none;
  padding: 0px;
  background-color:rgb(49, 80, 56); 
  margin-top:-20px
 
}

li a {
  display: inline;
  color:#fff;
  text-decoration: none;
  display: inline;

 
}

a {
  padding:0,5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

li {
  text-align: center;
    display: inline;
    padding: 20px;
}

li:last-child {
  border-bottom: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  color: white;
}

#meny {
  display: flex;
  justify-content: space-around;
  list-style-type: none; /* Ta bort punkterna från listan */
  padding: 0; /* Ta bort padding */
  background-color:rgb(57, 77, 57);
}

#meny li {
  padding: 10px 20px; /* Lägg till lite padding runt varje länk */
}

#meny li a {
  text-decoration: none; /* Ta bort understrykningen från länkarna */
  color: #fff; /* Ändra textfärgen till vit */
  font-family: 'Helvetica', sans-serif; /* Ändra typsnittet */
  font-size: 1.1em; /* Justera textstorleken */
}

#meny li a:hover {
  color: #4CAF50; /* Ändra textfärgen till grön när muspekaren hovrar över länken */
}


/*Under meny*/


.inledning{
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.6em;
  padding: 3px;
  background-color:rgba(255, 255, 0, 0.019); 
  border-radius: 10px; 
  width: 35%; 
  height: 130px; 
  align-self: flex-start;
  margin-top: 10px;
  text-align: center;
}

.inledningen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:rgba(49, 80, 56, 0.242);
  padding:15px;
  
 
}


.side-image {
 /* Sätt höjden på bilderna till samma värde som fyrkantens höjd */
  justify-content: space-between;
  width: 30%;
  border-radius: 10px; 
  border: 3px solid rgba(49, 80, 56, 0.264) ; /* Lägg till en svart ram som är 3 pixlar bred */
}


  .image-container {
  display: flex;
  justify-content: space-between;
}

.image {
  width: auto; 
  height: 380px; 
  margin-right: 10px; 

}

.produkt-rader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.produkt {
  text-align: center;
  margin: 0 10px; /* Lägg till marginal mellan produkterna */
}

.produkt img {
  width: 300px; /* Justera efter önskad storlek */
  height: auto;
}

button {
  background-color: #333; /* Mörkgrå färg för köp-knappen */
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555; /* Ändra färg vid hover */
}

.star {
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}





/* Kontakt */

.contact-form {
  width: 60%;
  margin: auto;
  padding: 20px;
  background-color:rgba(49, 80, 56, 0.242);
  border-radius: 10px;
}



label {
  display: block;
  font-family: 'Helvetica', sans-serif;
  color: #333;
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}


button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}


h3 {
  font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    line-height: 0;
    text-align: center;

}

.kontakttext   {
  text-align:center;
  font-size: 18px;
  line-height: 1.6;
  width: 50%; 
  margin: 0 auto;
  font-family: 'Didact Gothic', sans-serif;
  
}




footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.social-media {
  display: inline-block;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
}